

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

$main_font: 'Lato', sans-serif;
$secondary_font: 'Slabo 27px', serif;
$project-blue: #809fff;
$navy-deep: #000033;
$steel-dark: #002525;
$deep-brown: #3D0300;
$phone_portrait: "(max-width: 767px) and (orientation: portrait)";
$phone_landscape: "(max-width: 767px) and (orientation: landscape)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$desktop_small: "(min-width: 992px) and (max-width: 1279px)";
$desktop_big: "(min-width: 1280px)";

* {
  box-sizing: border-box;
}

@mixin clearfix {
	&:after {
		content:"";
		display: table;
		clear: both;
	}
}

body {
  background: linear-gradient(to right, #fff, #FFCDCA);
  overflow-x: hidden;
  overflow-y: hidden;
  height: auto;

.main {
    width: 100vw;
    height: auto;
    @include clearfix;
    display: flex;
    flex-direction: row;

  }

  .buttons_title {
    h1 {
      font-family: $main-font;
      font-size: 45px;
      font-weight: 800;
      text-transform: uppercase;
      color: $deep-brown;
      text-shadow: 2px 2px #4C8787;
      margin: 25px auto;
      text-align: center;
    }
  }

  .buttons {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
    .button_search {
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        .buttons_logo {
          margin: 25px auto;
        }
      }
    }

    button {
      width: 200px;
      height: 50px;
      font-family: $secondary_font;
      font-size: 20px;
      font-weight: 600;
      color: $steel-dark;
      background-color: #809fff;
      text-shadow: 2px 2px #E1837E;
      border: none;
      border-radius: 25px;
      margin: 10px;
      cursor: pointer;
      transition: 1s ease-in-out;
          &:hover {
            color: $project-blue;
            background-color: $steel-dark;
            text-shadow: none;
          }
    }

    input {
      font-family: $secondary_font;
      font-size: 20px;
      font-weight: 600;
      width: 200px;
      height: 50px;
      color: $steel-dark;
      background-color: #FFF;
      transition: 1s ease-in-out;
      padding-left: 5px;
      margin: 10px;
      background-color: #b3c6ff;
    }

    select {
      font-family: $secondary_font;
      font-size: 20px;
      font-weight: 600;
      width: 200px;
      height: 50px;
      color: $steel-dark;
      background-color: #FFF;
      margin-left: 5px;
      margin: 10px;
      background-color: #b3c6ff;
      &:hover{
        color: #FFF;
        background-color: $steel-dark;
        padding: 5px;
      }
    }

    .buttons_search-by {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

 .display_list {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;

   .border {
     width: 550px;
     height: 3.5px;
     background-color: $navy-deep;
     margin: 0;
   }

     .list-title {

       h2 {
         color: $deep-brown;
         text-shadow: 2px 2px #4C8787;
         font-family: $main-font;
         font-size: 45px;
         font-weight: 600;
         margin: 25px 0;
         text-align: center;
       }
     }

   .country-name-flag {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     width: 550px;
     margin: 25px 0 0 0;
     background-color: #ffffb3;
     border-top: 3.5px solid $navy-deep;
     border-left: 3.5px solid $navy-deep;
     border-right: 3.5px solid $navy-deep;
     height: 60px;
     span {
       display: inline-block;
       margin: 0 6px;
       height: 50px;
     }
     h3 {
       display: inline-block;
       width: auto;
       height: 50px;
       margin: 0;
       padding: 6.5px;
     }
     .flag-icon {
       margin: 2.5px 0;
       height: 50px;
       width: 80px;
     }
   }

   ul#countries {
     list-style-type: none;
     padding-left: 0;
     margin: 100px 25px 0 0;
     height: 500px;
     overflow-y: auto;
     li {
       list-style-type: none;
       font-family: $secondary_font;
       font-size: 25px;
       font-weight: 600px;
       color: $deep-brown;
       }
     }
     .countries_list {
       padding-left: 0;
       list-style-type: none;
       li {
         font-size: 18px;
         font-family: $main-font;
         font-weight: 400;
         color: $steel-dark;
         margin: 10px 0;
         text-align: left;
         width: 550px;
         background-color: #FFF;
         height: 40px;
         padding: 6px;
         margin: 0;
         border-left: 3.5px solid $navy-deep;
         border-right: 3.5px solid $navy-deep;
       }
         .countries_list-special {
           display: inline-block;
           font-family: $main-font;
           font-size: 20px;
           font-weight: 800;
           color: $steel-dark;
           margin-right: 5px;
           width: 120px;
         }
       }
   }
 }

@media #{$phone_portrait} {

  body {

    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}


      .buttons_title {
        h1 {
          font-size: 25px;
          text-align: center;
          margin: 5px auto;
        }
      }
    .main  {
      flex-direction: column;
      height: auto;
    }

    .buttons {
      z-index: 1;
      background: linear-gradient(to right, #fff, #FFCDCA);
      height: 40vh;
      border: 5px solid blue;

      button {
        margin: 5px;
        height: 35px;
        border-radius: 17.5px;
        font-size: 16px;
      }
      input {
        margin: 5px;
        height: 35px;
        font-size: 16px;
      }
      select {
        margin: 5px;
        height: 35px;
        font-size: 16px;
      }
      .button_search {

        .buttons_logo {
          display: block;
          margin: 0 auto;
          height: 50px;
        }
      }
      .buttons_search-by {
        height: 100px;
        width: auto;
      }
    }

    .display_list {
       border: 10px solid red;
      .border {
        width: 100vw;
      }
      .list-title {
        width: 100%;
        height: 50px;
        z-index: 1;
        h2 {
          font-size: 25px;
          text-align: center;
          color: $deep-brown;
          margin: 0 auto;
          padding: 10px;
        }
      }

      ul#countries {
        margin: 100px 0 25px 0;
        li {
          font-size: 14px;
        }
      }
      .country-name-flag {
        width: 100vw;
        h3 {
          padding: 16px;
        }
      }

      .countries_list {
        li {
          width: 100vw;
          font-size: 14px;
          height: auto;
        }

        .countries_list-special {
          font-size: 16px;
          width: 100px;
        }
      }
    }
  }
}


@media #{$phone_landscape} {

  body {
    width: 100%;

    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}

    .header{
      display: flex;
      flex-direction: column;

      .buttons_title {
        h1 {
          font-size: 24px;
          text-align: center;
          margin: 0 auto;
          padding: 5px;
        }
      }

      .list-title {
        h2 {
          font-size: 24px;
          text-align: center;
          margin: 0 auto;
          padding: 15px;
        }
      }
    }
    .row {
      flex-direction: row;
      height: auto;
    }

    .buttons {
       top: 78px;
      .button_search {
       div {
         height: 80.25px;
         width: 150px;
         .buttons_logo {
           display: block;
           margin: 0;
           height: 80.25px;
           width: 150px;
           object-fit: cover;
         }
       }
      }
      button {
        margin: 5px;
        height: 35px;
        border-radius: 17.5px;
        font-size: 16px;
      }
      input {
        margin: 5px;
        height: 35px;
        font-size: 16px;
      }
      select {
        margin: 5px;
        height: 35px;
        font-size: 16px;
      }
    }
    .display_list {

      .display_list-title {
        display: none;
      }
      .border {
        width: 300px;
      }

      ul#countries {

        margin: 60px auto 25px auto;
        li {
          font-size: 14px;
        }
      }
      .country-name-flag {
        width: 300px;
        h3 {
          padding: 16px;
        }
      }
      .countries_list {
        li {
          width: 300px;
          font-size: 14px;
          height: auto;
        }
        .countries_list-special {
          font-size: 16px;
          width: 100px;
        }
      }
    }
  }
}
@media #{$tablet} {

  body {
    width: 100vw;

    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

    .header {
      .buttons_title {
        h1 {
          font-size: 22px;
          text-align: center;
        }
      }
      .list-title {
        h2 {
          font-size: 22px;
          text-align: center;
        }
      }
    }

    .row {
      flex-direction: row;
      height: auto;
    }
    .buttons {
      top: 77px;
      .button_search {
        div {
          .buttons_logo {
            display: block;
            margin: 15px auto 0 auto;
            transform: scale(0.75);
          }
        }

      }
      .button_title {
          background-color: $project-blue;
          h1 {
            font-size: 22px;
            text-align: center;
          }
        }
      }
    .display_list {
      .border {
        width: 400px;
      }

      ul#countries {
        margin: 80px 5px 190px 0;
        li {
          font-size: 16px;
        }
      }
      .country-name-flag {
        width: 400px;
        h3 {
          padding: 18px;
        }
      }
      .countries_list {
        li {
          width: 400px;
          font-size: 16px;
        }
        .countries_list-special {
          font-size: 16px;
          width: 90px;
        }
      }
    }
  }
}

@media #{$desktop_small} {
  body {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}

    .header {
      .buttons_title {
        h1 {
          font-size: 30px;
          text-align: center;
        }
      }
      .list-title {
        h2 {
          font-size: 30px;
          text-align: center;
        }
      }
    }

    .display_list {
      align-items: flex-end;
      .border {
        width: 500px;
      }
      ul#countries {
        margin: 100px 5px 25px 0;
        li {
          font-size: 20px;
        }
      }
      .country-name-flag {
        width: 500px;
        h3 {
          padding: 10px;
        }
      }
      .countries_list {
        li {
          width: 500px;
          font-size: 18px;
        }
        .countries_list-special {
          font-size: 16px;
          width: 90px;
        }
      }
  }

}
}

@media #{$desktop_big} {
  body {
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
  }
}
