

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

$main_font: 'Lato', sans-serif;
$secondary_font: 'Slabo 27px', serif;
$phone_portrait: "(max-width: 767px) and (orientation: portrait)";
$phone_landscape: "(max-widht: 767px) and (orientation: landscape)";
$tablet: "(min-width: 768px) and (max-width: 991px)";

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #fff, #FFCDCA);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
  h1 {
    font-family: $main-font;
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
    color: #3D0300;
    text-shadow: 2px 2px #4C8787;
  }

  div {
    margin-bottom: 10px;
    button {
      width: 200px;
      height: 50px;
      font-family: $secondary_font;
      font-size: 20px;
      font-weight: 600;
      color: #002525;
      background-color: #90B6B6;
      text-shadow: 2px 2px #E1837E;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      transition: 1s ease-in-out;
          &:hover {
            color: #90B6B6;
            background-color: #002525;
            text-shadow: none;
          }
    }
    input {
      font-family: $secondary_font;
      font-size: 20px;
      font-weight: 600;
      width: auto;
      height: 50px;
      color: #002525;
      background-color: #FFF;
      transition: 1s ease-in-out;
    }
    select {
      font-family: $secondary_font;
      font-size: 20px;
      font-weight: 600;
      width: auto;
      height: 50px;
      color: #002525;
      background-color: #FFF;
      margin-left: 5px;
      padding: 5px;
      &:hover{
        color: #FFF;
        background-color: #002525;
        padding: 5px;
      }
    }
  }
  .country-name-flag {
    display: flex;
    flex-direction: row;
    width: 550px;
    margin: 25px 0 0 0;
    background-color: #D46F6A;
    span {
      display: inline-block;
      margin: 0 6px;
      height: 50px;
    }
    h3 {
      display: inline-block;
      width: auto;
      height: 50px;
      margin: 0;
      padding: 6.5px;
    }
  }

  h2 {
    @extend h1;
    font-family: $main-font;
    font-size: 35px;
    font-weight: 600;
    margin: 10px 0;
  }
  .border {
    width: 550px;
    height: 3.5px;
    background-color: navy;
    margin: 0;
  }

  ul {
    list-style-type: none;
    height: auto;
    li {
      font-family: $secondary_font;
      font-size: 25px;
      font-weight: 600px;
      color: #3D0300;

      }
    }
    .countries_list {
      padding-left: 0;
      li {  font-size: 18px;
        font-family: $main-font;
        font-weight: 400;
        color: #002525;
        margin: 10px 0;
        text-align: left;
        width: 550px;
        background-color: #FFAEAA;
        height: 40px;
        padding: 6px;
        margin: 0;
      }
        .countries_list-special {
          display: inline-block;
          font-family: $main-font;
          font-size: 20px;
          font-weight: 800;
          color: #002525;
          margin-right: 5px;
          width: 120px;
        }
    }
}
